@tailwind base;
@tailwind components;
@tailwind utilities;

/* reset e variabili */
:root {
  --background: #0f172a;
  --foreground: #f8fafc;
}

body {
  margin: 0;
  font-family: var(--font-geist-sans), sans-serif;
  color: var(--foreground);
  background: var(--background);
}